.footer {
    background-color: black;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 20px;
    bottom: 0;
}    

.footer-text {
    color: white;
    text-align: center;
}

.footer-logo {
    text-align: center;
}