.slider {
    position: relative;
}

.active-picture {
    height: 300px;
    width: 100%;}

.pic-slider {
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 10px;
}

.prev-slider, .next-slider {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.next-slider {
    right: 0;
}

.iconNext-slider {
    margin-right: 5px;
}

.iconPrev-slider {
    margin-left: 5px;
}

